<body class="container-fluid">
  <div class="col-md-4 col-md-offset-4">
    <div class="box">
      <%= form_with model: @user, url: new_user_session_path, class: 'input-form', local: true do |f| %>
        <div class="form-group">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
          <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me, class: 'form-control-checkbox' %>
            <%= f.label :保存する, class: 'form-control-label' %>
          </div>
        <% end %>

        <div class="divider-form"></div>

          <div class="actions">
            <%= f.submit "ログイン", class: 'btn-block btn btn-lg btn-primary' %>
          </div>
      <% end %>
    </div>
  </div>
</body>
