<%= render "shared/header" %>

# app/views/posts/new.html.erb

<%= form_with(model: @reha, local: true, html: { class: 'post-form-container' }) do |form| %>
  <div class="post-form-box">
    <!-- カテゴリーの選択 -->
    <div class="post-form-group">
      <%= form.label :カテゴリー %>
      <%= form.select :category, options_for_select(['カテゴリー1', 'カテゴリー2', 'カテゴリー3']), {}, { class: 'post-form-control' } %>
    </div>

    <!-- 疾患名入力欄 -->
    <div class="post-form-group">
      <%= form.label :疾患名 %>
      <%= form.text_field :disease, class: 'post-form-control' %>
    </div>

    <!-- 合併症入力欄 -->
    <div class="post-form-group">
      <%= form.label :合併症 %>
      <%= form.text_field :complication, class: 'post-form-control' %>
    </div>

    <!-- 患者のパーソナルな症状 -->
    <div class="post-form-group">
      <%= form.label :パーソナルな症状 %>
      <%= form.text_area :personality, class: 'post-form-control' %>
    </div>

    <!-- リハビリ内容 -->
    <div class="post-form-group">
      <%= form.label :リハビリテーション内容 %>
      <%= form.text_area :rehabilitation, class: 'post-form-control' %>
    </div>

    <!-- エビデンスグレードの選択 -->
    <div class="post-form-group">
      <%= form.label :エビデンスグレード %>
      <%= form.select :evidence_id, options_for_select(['A', 'B', 'C', '未評価']), {}, { class: 'post-form-control' } %>
    </div>

    <!-- キーワード -->
    <div class="post-form-group">
      <%= form.label :キーワード %>
      <%= form.text_field :keyword, class: 'post-form-control' %>
    </div>

    <div class="actions">
      <%= form.submit '投稿する', class: 'post-btn-primary' %>
    </div>
  </div>
<% end %>

