<!-- 投稿詳細ページのHTML -->

<div class="post-detail-container">
  <div class="post-detail-box">
    <h1 class="post-detail-title">投稿詳細</h1>

    <div class="post-detail-category">
      <div class="post-detail-content">
        <p class="post-detail-label">カテゴリー</p>
        <p><%= Category.find(@reha.category_id).name %></p>
      </div>
    </div>

    <div class="post-detail-category">
      <div class="post-detail-content">
        <p class="post-detail-label">疾患:</p>
        <p><%= @reha.disease %></p>
      </div>
    </div>

    <div class="post-detail-category">
      <div class="post-detail-content">
        <p class="post-detail-label">合併症</p>
        <p><%= @reha.complication %></p>
      </div>
    </div>

    <div class="post-detail-category">
      <div class="post-detail-content">
        <p class="post-detail-label">キーワード</p>
        <p><%= @reha.keyword %></p>
      </div>
    </div>

    <div class="post-detail-category">
      <div class="post-detail-content">
        <p class="post-detail-label">性格</p>
        <p><%= @reha.personality %></p>
      </div>
    </div>

    <div class="post-detail-category">
      <div class="post-detail-content">
        <p class="post-detail-label">リハビリテーション</p>
        <p><%= @reha.rehabilitation %></p>
      </div>
    </div>

    <div class="post-detail-category">
      <div class="post-detail-content">
        <p class="post-detail-label">エビデンスグレード</p>
        <p><%= Evidence.find(@reha.evidence_id).name %></p>
      </div>
    </div>

    <div class="post-detail-category">
      <div class="post-detail-content">
        <p class="post-detail-label">投稿者</p>
        <p><%= @reha.user.email %></p>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @reha.user_id %>
        <%= link_to "編集", edit_reha_path(@reha), class: "post-edit-btn" %>
        <%= link_to "削除", reha_path(@reha), method: :delete, class: "post-delete-btn" %> 
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <!-- ユーザーがログインしている場合のみコメントフォームを表示 -->
      <div class="comment-form">
        <%= form_with(model: [ @reha, @reha.comments.build ], local: true) do |form| %>
          <div class="field">
            <%= form.text_area :content, placeholder: "コメントを入力してください", class: "comment-textarea" %>
          </div>
          <div class="actions">
            <%= form.submit "コメントする", class: "comment-submit" %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>コメントを投稿するには<a href="<%= new_user_session_path %>">ログイン</a>してください。</p>
    <% end %>

    <!-- コメント一覧 -->

    <% @reha.comments.each do |comment| %>
      <div class="comment">
        <p class="comment-content"><%= comment.content %></p>
        <p class="comment-user">投稿者: <%= comment.user.email %></p>
      </div>
    <% end %>

  </div>
</div>

